[Desktop Entry]
Categories=Network;WebBrowser;
Comment[en_US]=
Comment=Browse the Internet
Exec=/usr/bin/dina-browser fullscreen
GenericName[en_US]=Browser
GenericName=Browser
Icon=dina-browser
Name[en_US]=Dina
Name=Dina
Path=
StartupNotify=true
StartupWMClass=dina
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Network;WebBrowser;
NoDisplay=true
