[Desktop Entry]
Categories=Network;WebBrowser;
Comment[en_US]=
Comment=Browse the Internet
Exec=/usr/bin/dina-browser "%u"
GenericName[en_US]=Browser
GenericName=Browser
Icon=dina-browser
Name[en_US]=Dina
Name=Dina
Path=
StartupNotify=true
StartupWMClass=dina
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Network;WebBrowser;
Actions=nav;search;bookmarks;install;

[Desktop Action nav]
Name=Navigate
Icon=web-browser
Exec=/usr/bin/dina-nav.sh

[Desktop Action search]
Name=Search
Icon=find
Exec=/usr/bin/dina-search.sh

[Desktop Action bookmarks]
Name=Bookmarks
Icon=bookmarks
Exec=/usr/bin/dina-marks.sh

[Desktop Action install]
Name=Install website
Icon=install
Exec=/usr/bin/dina-install.sh
