Source: dina
Maintainer: Ion@TeLOS <teloslinux@protonmail.com>
Section: web
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.0

Package: dina
Architecture: amd64
Depends: curl, wget, libayatana-appindicator3-1, libwebkit2gtk-4.0-37, libgtk-3-0, python3-flask, xdotool, wmctrl, policykit-1
Recommends: icoutils, yad|libnotify-bin
Section: web
Priority: optional
Homepage: https://teloslinux.org
Description: Minimal ..dinamic web browser
 Dina is a minimalistic browser built with tauri, Pake, yad and bash. It uses the webkit rendering engine.
 Some features included in Dina are: Startpage and search engine selection, bookmarks, the option to autostart app in fullscreen, "kiosk mode", and "installing" websites as apps. Dina supports a Terminal extension - DinaTerm, which enables you to run a fully functional terminal emulator in your browser. 
 Dina has a small download and installed size and reuses components which are probably already present in your system, like libwebkit. 
 The source and package (https://github.com/iontelos/Dina) are maintained by Ion@TeLOS (teloslinux@protonmail.com). 
 Pake (https://github.com/tw93/Pake) is a credited external project. 
 .
 Enjoy!
 
